<div class="login-container">
    <div class="left-section">
            
    </div>
    
    <div class="right-section">
      <div class="logo">
        <img src="/images/logo.png" alt="MyCourse.io">
        <p class="fw-bold fs-4 mb-0 ms-2">MyCourse</p>
      </div>
      <h3>Join us and get more benefits. We promise to keep your data safely.</h3>
  
      <form>
        <div class="mb-3">
            <input class="form-control" type="email" placeholder="Email Address"  />
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" placeholder="Password" />
        </div>
        
        <button type="submit" class="login-button">Login</button>
      </form>
      
      <p style="margin: auto;">or you can</p>
      
      <div class="social-buttons">
        <button class="fw-bold social-button fb">Continue with Facebook</button>
        <button class="fw-bold social-button apple">Continue with Apple</button>
        <button class="fw-bold social-button google">Continue with Google</button>
      </div>
  <!-- commit -->
      <p style="margin: auto;color: #a8a1a1;">Need an Account? <a style="color: #3DCBB1;" href="#">Sign Up</a></p>
    </div>
  </div>